$srp_flex-layout_build_col: true;

$srp_flex-layout_build_col-auto: true;
$srp_flex-layout_build_col-square: true;

$srp_flex-layout_build_row-cols-auto: true;
$srp_flex-layout_build_row-cols-square: true;

$srp_flex-layout_build_col-size: true;
$srp_flex-layout_build_row-cols-size: true;

$srp_flex-layout_build_offset: true;
