$srp_appearance_reset_a: false;
$srp_appearance_reset_abbr: false;
$srp_appearance_reset_address: false;
$srp_appearance_reset_area: false;
$srp_appearance_reset_article: false;
$srp_appearance_reset_aside: false;
$srp_appearance_reset_audio: false;

$srp_appearance_reset_b: false;
$srp_appearance_reset_base: false;
$srp_appearance_reset_bdi: false;
$srp_appearance_reset_bdo: false;
$srp_appearance_reset_blockquote: false;
$srp_appearance_reset_body: false;
$srp_appearance_reset_br: false;
$srp_appearance_reset_button: false;

$srp_appearance_reset_canvas: false;
$srp_appearance_reset_caption: false;
$srp_appearance_reset_cite: false;
$srp_appearance_reset_code: false;
$srp_appearance_reset_col: false;
$srp_appearance_reset_colgroup: false;

$srp_appearance_reset_data: false;
$srp_appearance_reset_datalist: false;
$srp_appearance_reset_dd: false;
$srp_appearance_reset_del: false;
$srp_appearance_reset_details: false;
$srp_appearance_reset_dfn: false;
$srp_appearance_reset_dialog: false;
$srp_appearance_reset_div: false;
$srp_appearance_reset_dl: false;
$srp_appearance_reset_dt: false;

$srp_appearance_reset_em: false;
$srp_appearance_reset_embed: false;

$srp_appearance_reset_fieldset: false;
$srp_appearance_reset_figcaption: false;
$srp_appearance_reset_figure: false;
$srp_appearance_reset_footer: false;
$srp_appearance_reset_form: false;

$srp_appearance_reset_h: false;
$srp_appearance_reset_head: false;
$srp_appearance_reset_header: false;
$srp_appearance_reset_hr: false;
$srp_appearance_reset_html: false;

$srp_appearance_reset_i: false;
$srp_appearance_reset_iframe: false;
$srp_appearance_reset_img: false;
$srp_appearance_reset_input: false;
$srp_appearance_reset_ins: false;

$srp_appearance_reset_kbd: false;

$srp_appearance_reset_label: false;
$srp_appearance_reset_legend: false;
$srp_appearance_reset_li: false;
$srp_appearance_reset_link: false;

$srp_appearance_reset_main: false;
$srp_appearance_reset_map: false;
$srp_appearance_reset_mark: false;
$srp_appearance_reset_meta: false;
$srp_appearance_reset_meter: false;

$srp_appearance_reset_nav: false;
$srp_appearance_reset_noscript: false;

$srp_appearance_reset_object: false;
$srp_appearance_reset_ol: false;
$srp_appearance_reset_optgroup: false;
$srp_appearance_reset_option: false;
$srp_appearance_reset_output: false;

$srp_appearance_reset_p: false;
$srp_appearance_reset_param: false;
$srp_appearance_reset_picture: false;
$srp_appearance_reset_pre: false;
$srp_appearance_reset_progress: false;

$srp_appearance_reset_q: false;

$srp_appearance_reset_rp: false;
$srp_appearance_reset_rt: false;
$srp_appearance_reset_ruby: false;

$srp_appearance_reset_s: false;
$srp_appearance_reset_samp: false;
$srp_appearance_reset_script: false;
$srp_appearance_reset_section: false;
$srp_appearance_reset_select: false;
$srp_appearance_reset_small: false;
$srp_appearance_reset_source: false;
$srp_appearance_reset_span: false;
$srp_appearance_reset_strong: false;
$srp_appearance_reset_style: false;
$srp_appearance_reset_sub: false;
$srp_appearance_reset_summary: false;
$srp_appearance_reset_sup: false;
$srp_appearance_reset_svg: false;

$srp_appearance_reset_table: false;
$srp_appearance_reset_tbody: false;
$srp_appearance_reset_td: false;
$srp_appearance_reset_template: false;
$srp_appearance_reset_textarea: false;
$srp_appearance_reset_tfoot: false;
$srp_appearance_reset_th: false;
$srp_appearance_reset_thead: false;
$srp_appearance_reset_time: false;
$srp_appearance_reset_title: false;
$srp_appearance_reset_tr: false;
$srp_appearance_reset_track: false;

$srp_appearance_reset_u: false;
$srp_appearance_reset_ul: false;

$srp_appearance_reset_var: false;
$srp_appearance_reset_video: false;

$srp_appearance_reset_wbr: false;

$srp_appearance_reset_blockquote: false;
$srp_appearance_reset_input_focus: false;
$srp_appearance_reset_input_type_number: false;
