$srp_normalize_build_common: true;
$srp_normalize_build_sections: true;
$srp_normalize_build_grouping-content: true;
$srp_normalize_build_text-level-semantics: true;
$srp_normalize_build_embedded-content: true;
$srp_normalize_build_forms: true;
$srp_normalize_build_interactive: true;
$srp_normalize_build_mics: true;
